<ion-header [translucent]="true" class="ion-no-border bg-white dark:bg-gray-800">
  <ion-toolbar class="bg-white dark:bg-gray-800">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="text-black dark:text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-black dark:text-white font-bold"
      >Pending Friends</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding bg-gray-100 dark:bg-gray-800"
>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex flex-col h-full">
    <div *ngIf="isLoading" class="flex justify-center items-center h-full">
      <ion-spinner name="circular"></ion-spinner>
    </div>

    <div
      *ngIf="!isLoading && pendingFriends.length === 0"
      class="flex flex-col justify-center items-center h-full text-center"
    >
      <div class="text-gray-500 dark:text-gray-400">
        <p class="text-lg mb-2">No pending friend requests</p>
        <p class="text-sm">New requests will be displayed here</p>
      </div>
    </div>

    <ion-list *ngIf="!isLoading && pendingFriends.length > 0">
      <ion-item
        *ngFor="let friend of pendingFriends"
        class="my-2 rounded-lg bg-white dark:bg-gray-800"
      >
        <div class="flex items-center justify-between w-full py-2">
          <div class="flex items-center">
            <ion-avatar class="w-12 h-12 mr-3">
              <img
                [src]="friend.friend?.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
                alt="Profil"
              />
            </ion-avatar>
            <div>
              <h2 class="text-base font-semibold text-gray-800 dark:text-white">
                {{ friend.friend?.displayName || 'User' }}
              </h2>
              <p class="text-sm text-gray-500 dark:text-gray-400">
                {{ friend.friend?.email || '-' }}
              </p>
            </div>
          </div>

          <div class="flex">
            <ion-button
              fill="clear"
              color="success"
              (click)="friend.id && acceptFriendRequest(friend.id)"
              size="large"
              shape="round"
            >
              <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button
              fill="clear"
              color="danger"
              (click)="friend.id && rejectFriendRequest(friend.id)"
              size="large"
              shape="round"
            >
              <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
